/*  your css code here. If applicable */
.main{
	width : 200px;
	height : 200px;
	display: flex;
	align-items : center;
	justify-content : center;
}
#line{
	height : 2px;
	width : 200px;
	background-color : black;
	animation : rotation 2s linear infinite;
	animation-play-state : paused;
}


@keyframes rotation {
	to {
		transform : rotate(360deg);
	}
}